<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Advanced login -->
            <form [formGroup]="form" #f="ngForm" (submit)="onSubmit($event)" class="form-horizontal">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                        <h5 class="content-group">Регистрация</h5>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input  formControlName="userlogin" type="text" class="form-control" placeholder="Василий">
                        <div class="form-control-feedback">
                            <i class="icon-user-check text-muted"></i>
                        </div>
                        <span *ngIf="getHasError('userlogin')?.errors?.required" class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> Обязательное поле</span>
                        <span *ngIf="getControl('userlogin')?.errors?.loginAlreadyExist" class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> Пользователь с таким логином уже существует</span>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input  formControlName="email" type="text" class="form-control" placeholder="Email">
                        <div class="form-control-feedback">
                            <i class="icon-mention text-muted"></i>
                        </div>
                        <span *ngIf="getControl('email')?.errors?.required" class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> Email обязательно для заполнения</span>
                        <span *ngIf="getControl('email')?.errors?.invalidEmailAddress" class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> Неправильный формат Email</span>
                        <span *ngIf="getControl('email')?.errors?.emailAlreadyExist" class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> Пользователь с таким Email уже существует</span>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input formControlName="password" type="password" class="form-control" placeholder="Пароль">
                        <div class="form-control-feedback">
                            <i class="icon-user-lock text-muted"></i>
                        </div>
                        <span *ngIf="getHasError('password')" class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> Обязательное поле</span>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input formControlName="repeatPassword" type="password" class="form-control" placeholder="Повторите пароль">
                        <div class="form-control-feedback">
                            <i class="icon-user-lock text-muted"></i>
                        </div>
                        <span *ngIf="getControl('repeatPassword')?.errors?.controlCompare" class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> Пароли не совпадают</span>
                    </div>

                    <button type="submit" class="btn bg-teal btn-block btn-lg"  [disabled]="!f.valid">Зарегистрироваться <i class="icon-circle-right2 position-right"></i></button>

                    <div class="form-group has-feedback has-feedback-left">
                        <a [routerLink]="['/auth/login']">У меня есть учетная запись</a>
                        <a [routerLink]="['/auth/recovery']">Забыли пароль?</a>
                    </div>
                </div>
            </form>
            <!-- /advanced login -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->


